@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

.code {
  @apply p-3 border border-gray-300;
}

.codeblock {
  @apply border border-white rounded-lg p-3 whitespace-pre-wrap	overflow-auto my-3;
}

.logo {
  font-family: Lilita One, system-ui, sans-serif;
  padding: 3px;
  font-size: 25px;
}

body {
  @apply bg-black text-white;
}

.container {
  @apply max-w-screen-2xl mx-auto px-3 md:px-8;
}

article {
  @apply pt-4;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply leading-tight;
    margin-top: 0.67em;
  }
  h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply leading-tight;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply leading-tight;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
    @apply leading-tight;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  section {
    display: block;
  }
}

/* table */
table {
  @apply w-full text-sm text-left text-gray-400;
}

thead {
  @apply text-xs text-gray-400 uppercase bg-gray-700;
}

table thead tr th {
  @apply px-6 py-3;
}

tbody tr:nth-child(odd) {
  @apply bg-gray-900 border-gray-700;
}

tbody tr:nth-child(even) {
  @apply bg-gray-800 border-gray-700;
}

tbody tr th {
  @apply px-6 py-4 font-medium text-white whitespace-nowrap;
}

tbody tr td {
  @apply px-6 py-4;
}

.tag {
  @apply px-4 py-2 text-base rounded-full border border-white bg-orange-500 hover:bg-orange-800;
}

.tag-small {
  @apply px-2 py-2 text-sm rounded-lg hover:bg-orange-500;
}

.learning-path-image {
  @apply brightness-0 invert w-5 h-5 mr-1;
}

.side-menu {
  @apply rounded-lg text-xl p-2 hover:bg-orange-400;
}

.flip {
  height: 50px;
  overflow: hidden;
}

.flip > div > div {
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  color: #19d3da;
}
.flip div:nth-child(1) div {
  color: orange;
}
.flip div:nth-child(2) div {
  color: #ffa3fd;
}
.flip div:nth-child(3) div {
  color: #f0eb8d;
}

@keyframes show {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  95% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}

/* tabs */
.tablink {
  @apply flex m-2 p-2 shrink-0 items-center border-b-2 rounded-lg border-transparent hover:text-gray-600 hover:scale-110 transform transition duration-300;
}

.tablink-active {
  @apply flex m-2 p-2 shrink-0 items-center border-2 rounded-lg text-orange-600 border-orange-600;
}

.tabcontent {
  @apply hidden p-4 border rounded-t border-gray-300 w-full;
}

.tabs {
  @apply flex sm:flex-col overflow-scroll sm:overflow-hidden mr-4 text-base font-bold;
}

/* courses */
.active-chapter {
  @apply text-white font-bold bg-orange-500;
}

.navigation-button {
  @apply flex p-2 mx-2 text-sm font-bold rounded-lg border border-white hover:bg-orange-500;
}

.post-image {
  @apply rounded-t-xl m-4;
}

.tableOfContents {
  @apply hidden md:block sticky top-8 ml-4 mb-auto px-3 pb-2 pt-0;
}

.tableOfContents nav ul li a {
  @apply text-gray-400 text-sm font-normal hover:text-orange-400 duration-300;
}
