@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Proxima Nova, system-ui, sans-serif;
    }
}

nav {
  @apply bg-purple-500;
}

.logo {
  font-family: Lilita One, system-ui, sans-serif;
  padding: 3px;
  font-size: 25px;
}

body {
  @apply bg-black text-white;
}

.container {
  @apply max-w-screen-2xl mx-auto px-3 md:px-8;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply leading-tight;
    margin-top: 0.67em;
  }
  h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply leading-tight;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply leading-tight;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h4 {
    @apply text-base;
    @apply font-bold;
    @apply leading-tight;
  }
}

.tag {
  @apply px-4 py-2 text-base rounded-full border border-white bg-pink-500 hover:bg-pink-800;
}

.tag-small {
  @apply px-2 py-2 text-sm rounded-lg hover:bg-pink-500;
}

.learning-path-image {
  @apply brightness-0 invert w-5 h-5 mr-1;
}

.side-menu {
  @apply rounded-lg text-xl p-2 hover:bg-pink-400 grow;
}

.flip {
  height:50px;
  overflow:hidden;
}

.flip > div > div {
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  color: #19D3DA;
}
.flip div:nth-child(1) div {
  color: orange;
}
.flip div:nth-child(2) div {
  color:#FFA3FD;
}
.flip div:nth-child(3) div {
  color:#F0EB8D;
}

@keyframes show {
  0% {margin-top:-360px;}
  5% {margin-top:-270px;}
  25% {margin-top:-270px;}
  30% {margin-top:-180px;}
  50% {margin-top:-180px;}
  55% {margin-top:-90px;}
  75% {margin-top:-90px;}
  80% {margin-top:0px;}
  95% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-360px;}
}


/* tabs */
.tablink {
  @apply flex m-2 p-2 shrink-0 items-center border-b-2 rounded-lg border-transparent hover:text-gray-600 hover:scale-110 transform transition duration-300;
}

.tablink-active {
  @apply flex m-2 p-2 shrink-0 items-center border-2 rounded-lg text-pink-600 border-pink-600;
}

.tabcontent {
  @apply hidden p-4 border rounded-t border-gray-300 w-full;
}

.tabs {
  @apply flex sm:flex-col overflow-scroll sm:overflow-hidden mr-4 text-base font-bold;
}