<section class=" mt-6 p-4 rounded-lg border border-white">
    <script src="/js/learningpath.js"></script>
    <h2 class="rw-sentence text-4xl mb-5 mt-0">
        <span>Join the ultimate learning path</span>
    </h2>
    <div class="sm:flex">
        <div class="tabs text-lg font-medium text-gray-500 sm:basis-1/5 mb-2">
                <button onclick="openPathTab(event, 'Basics')" class="tablink" id="defaultTab">
                    <img class="learning-path-image" src="/img/icon/sparkles.svg" />
                    Basics
                </button>
                <button onclick="openPathTab(event, 'Data Stores')" class="tablink">
                    <img class="learning-path-image" src="/img/icon/db.svg" />
                    Data Stores
                </button>
                <button onclick="openPathTab(event, 'Big Data Technologies')" class="tablink">
                    <img class="learning-path-image" src="/img/icon/building.svg" />
                    Big Data Technologies
                </button>
                <button onclick="openPathTab(event, 'Data Architecture')" class="tablink">
                    <img class="learning-path-image" src="/img/icon/pencil.svg" />
                    Data Architecture
                </button>
                <button onclick="openPathTab(event, 'Data Analysis')" class="tablink">
                    <img class="learning-path-image" src="/img/icon/chart-pie.svg" />
                    Data Analysis
                </button>
                <button onclick="openPathTab(event, 'Data Pipelines & Flows')" class="tablink">
                    <img class="learning-path-image" src="/img/icon/forward.svg" />
                    Data Pipelines & Flows
                </button>
                <button onclick="openPathTab(event, 'Cloud Infrastructure')" class="tablink">
                    <img class="learning-path-image" src="/img/icon/cloud.svg" />
                    Cloud Infrastructure
                </button>
            </div>
        <div class="basis-4/5">
            <div class="tabcontent" id="Basics">
                <h1>Basics</h1>
            </div>
            <div class="tabcontent" id="Data Stores">
                <h1>Data Stores</h1>
            </div>
            <div class="tabcontent" id="Big Data Technologies">
                <h1>Big Data Technologies</h1>
            </div>
            <div class="tabcontent" id="Data Architecture">
                <h1>Data Architecture</h1>
            </div>
            <div class="tabcontent" id="Data Analysis">
                <h1>Data Analysis</h1>
            </div>
            <div class="tabcontent" id="Data Pipelines & Flows">
                <h1>Data Pipelines & Flows</h1>
            </div>
            <div class="tabcontent" id="Cloud Infrastructure">
                <h1>Cloud Infrastructure</h1>
            </div>
        </div>
    </div>
    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultTab").click();
    </script>
</section>