<nav>
    <div class="bg-violet-900 border-b-2 border-slate-600">
        <div class="mr-3 ml-3">
            <div class="flex items-center justify-between h-16">
                <div class="w-full justify-between flex items-center h-12">
                    <a class="flex-shrink-0" href="/">
                        <div class="hidden md:flex logo">
                            <img class="w-8 mr-2" src="/img/logo.svg"/>
                            <button> betterindata</button>
                        </div>
                        <button class="logo md:hidden"><img class="w-8" src="/img/logo.svg"/></button>
                    </a>
                    <div class="flex gap-8">
                        <a href="/posts">
                            <span class="text-xl font-bold hover:text-purple-400">Posts</span>
                        </a>
                        <a href="/learningpath">
                            <span class="text-xl font-bold hover:text-purple-400">Learning Path</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>