<nav>
  <div
    class="px-2 bg-purple-500 border-b-2 border-slate-600 w-full h-16 flex justify-between items-center"
  >
    <a href="/">
      <div class="hidden md:flex logo">
        <div class="w-10 h-10 mr-2 p-1 bg-white rounded-full">
          <img class="p-0.5" alt="logo" src="/img/logo.svg" />
        </div>
        <button>betterindata</button>
      </div>
      <button class="logo md:hidden">
        <div class="w-10 h-10 mr-2 p-1 bg-white rounded-full">
          <img class="w-8" src="/img/logo.svg" />
        </div>
      </button>
    </a>
    <div class="flex gap-8">
      <a href="/lessons">
        <span class="text-base md:text-xl font-bold hover:text-orange-400"
          >Lessons</span
        >
      </a>
      <a href="/projects">
        <span class="text-base md:text-xl font-bold hover:text-orange-400"
          >Projects</span
        >
      </a>
      <a href="/learningpath">
        <span class="text-base md:text-xl font-bold hover:text-orange-400"
          >Learning Path</span
        >
      </a>
    </div>
  </div>
</nav>
