{{ define "header" }}
  {{ partial "header" }}
{{ end }}
{{ define "main" }}

<main class="max-w-screen-2xl px-3 md:px-8 mt-10 flex flex-wrap gap-5 justify-center">
	<div class="shadow-lg hidden max-w-full md:block md:basis-1/4 p-4 rounded-lg bg-violet-900 border border-slate-600">
		<aside>
			<ul class="space-y-2 flex flex-col">
				<li class="flex">
					<a class="side-menu" href="/">🏚️ 
						<span class="hover:underline">Homepage</span>
					</a>
				</li>
				<li class="flex">
					<a class="side-menu" href="/posts">📬 
						<span class="hover:underline">Posts</span>
					</a>
				</li>
				<li class="flex">
					<a class="side-menu" href="/tags">&nbsp#️⃣ 
						<span class="hover:underline">Tags</span>
					</a>
				</li>
				<li class="flex">
					<a class="side-menu" href="/about">👨‍🔧 
						<span class="hover:underline">About</span>
					</a>
				</li>
				<!-- <li class="flex">
					<a class="side-menu" href="/imprint">🖨️ 
						<span class="hover:underline">Imprint</span>
					</a>
				</li> -->
			</ul>
		</aside>
	</div>
	<div class="md:basis-2/4">
		<section class="relative">
			<div class="animation-container">
				<h2 class="rw-sentence text-4xl flex flex-row">
					Become better at Data
					<div class="flip ml-2">
						<div><div>Engineering</div></div>
						<div><div>Analysis</div></div>
						<div><div>Visualization</div></div>
						<div><div>Juggling</div></div>
					</div>
				</h2>
			</div>
			
			<div class="max-w-2xl bg-violet-900 rounded-lg p-4">
				<span class="text-2xl break-words font-semibold">
					Fuel Your Data Journey with Our Expertise
				</span>
				<div>
					<a href="/learningpath">
						<button type="button" class="py-2 px-4 rounded-lg my-2 bg-gradient-to-r from-[#FFA3FD] to-[#865DFF] text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 ">
							🪐 follow our intergalactic learning path
						</button>
					</a>
				</div>
				
				<img class="rounded-lg" width="100%" src="/img/homepage.webp"/>
			</div>
		</section>
	</div>
	<div class="max-w-2xl bg-violet-900 rounded-lg p-4 basis-full">
		<span class="text-2xl break-words font-semibold">
			Latest data projects
		</span>
		<div>
			{{ range where .Paginator.Pages "Params.type" "eq" "projects" }}
				{{ .Title }}
			{{ end}}
		</div>

	</div>
</main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}